allow mm-qcamerad system_file:file execmod; # for libl6lencgain and many others
# TODO: allow unlinking of socket too
file_type_trans(mm-qcamerad, system_data_file, camera_socket)
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
